*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(61, 60, 60);
}
.rotate_1{
    display: block;
    position: fixed;
    top :50%;
    left: 50%;
    width: 150px;    
    height: 150px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 6s;

}
.rotate_1:hover{
    -webkit-transform: rotate(360deg) translateZ(0)
}


.rotate_2{
    
    display: block;
    position: fixed;
    top :50%;
    left: 50%;
   
    margin: -60px 0 0 -60px;
}
.rotate_2:hover{
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}



.rotate_3{
    
    display: block;
    position: fixed;
   
   
    margin: -60px 0 0 -60px;
        -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;

}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}


